/* general styles of the page */
html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

aside {
  background-color: #343F53;
  color: #cfd2d6;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  color: #4b5a75;
}
hr {
  border: 2px ridge #5c6f8e;
}
/* below is styles for the aside vertical nav bar */

.user__img--icon {
  height: 1rem;
  width: 1rem;
}

.aside--icon {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  padding-right: 1rem;
}

.main-nav {
  list-style: none;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-nav__ul {
  color: #cfd2d6;
}

/* .main-nav__li{
  margin-right: 1rem;

} */
.main-nav__h6 {
  margin-right: 3.7rem;
}
.nav-categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* height: 8rem; */
}
/* below is the code for the user section */
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.user__h5 {
  /* margin-bottom: 4rem; */
  margin: 1rem 0 2rem 0;
  font-size: 2rem;
  color: #cfd2d6;
}

.user__img {
  height: 13rem;
  width: 13rem;
  border-radius: 100%;
  margin: 4rem 4rem 1rem 4rem;
}
/* end user-photo */

/* below is the code for the admin nav section */
.admin-nav__h6 {
  margin-right: 3.3rem;
}

.admin-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* end admin user nav */

/* begin styles for nav */
ul {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
li {
  margin: 2rem;
}

label {
  font-size: 2rem;
  margin: 1rem;
}

.top-search {
  display: flex;
  flex-direction: row;
  width: 100%;

}
.admin-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.nav-categories__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 70%;
}

.nav-categories__div-box {
  height: 2rem;
  width: 2rem;
  margin: 1rem;
}
.--admin {
  background-color: yellow;
}

.--design {
  background-color: blue;
}

.--executive {
  background-color: magenta;
}

.--human {
  background-color: chartreuse;
}

.top-title__h1 {
  font-size: 3rem;
  margin: 2rem 2rem 1rem 2rem;
}

.--location {
  margin: 0 0 0 2rem;
  padding: 0;
}

.location__p {
  display: inline-block;
}

.--hover-blue:hover {
  color: #094d92;
}
.--hover-blue {
  float: right;
  margin-right: 9rem;
  margin-top: 3px;
  cursor: pointer;
}
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input[type=checkbox]:checked ~ .nav-categories__div-box {
   background-image: url('aside-icons/checked.svg');
   background-size: cover;
}
/* end styles for aside section */

/* begin styles for main section */
.tab-menu {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-menu__li {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: grey;
}

.tab-menu__li:hover {
  color: black;
  border-bottom: 3px solid blue;
  width: 11rem;
}

.top-search {
  border: .5px solid grey;
}

.top-search__btn {
  height: 6rem;
  width: 25%;
  border: 0 .5px 0 .5px solid grey;
  background: none;
  cursor: pointer;
}

.top-search__btn:hover {
  background: #094d92;
}

.top-search__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-search__search {
  height: 4rem;
  width: 100%;
  cursor: pointer;
  border: .5px solid grey;

  /* background-image: url('main-icons/search.svg');
  background-size: cover; */
}

.top-title__btn {
  border: .5px solid black;
  border-radius: 15px;
  padding: 1rem;
  background: #fff;
  margin: 2rem 0 4rem 0;
}
/* begin styles for charts section */
svg {
  width: 35%;
}

.charts {
  background-color: #edeff7;
}

.charts__svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.charts__img--bar {
  width: 100%;
  margin-bottom: 1.5rem;
}

.charts__btn--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.charts__btn {
  border: .5px solid black;
  border-radius: 15px;
  padding: 1rem;
  background: #fff;
  margin: 2rem 0 4rem 0;
}
