
html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}
aside {
  background-color: #343F53;
  color: #cfd2d6;

}

hr {
  border: 2px ridge #5c6f8e;
}
/* below is styles for the aside vertical nav bar */
.main-nav {
  list-style: none;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-nav__ul {
  color: #cfd2d6;
}

.main-nav__li{
  margin-right: 1rem;

}
.main-nav__h6 {
  margin-right: 3.7rem;
}
.nav-categories {

  /* height: 8rem; */
}
/* below is the code for the user section */
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.user__h5 {
  margin-bottom: 4rem;
}

.user__img {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
  margin: 4rem 4rem 1rem 4rem;
}
/* end user-photo */

/* below is the code for the admin nav section */
.admin-nav__h6 {
  margin-right: 3.3rem;
}

.admin-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* end admin user nav */

/* begin styles for nav */
ul {
  display: flex;
  flex-direction: column;
}
.top-search {
  display: flex;
  flex-direction: row;
  width: 100%;

}
.admin-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
input[type=radio] {
    bottom: 2px;
}

/* begin styles for charts section */

svg {
  width: 35%;
}

.charts__svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.charts__img--bar {
  width: 90%;
}
